
<table class="table">
  <% recipes.each do |recipe| %>
    <tr>
      <td>
        <div class="recipe-img">
          <%= image_tag recipe.image.url if recipe.image? %>
        </div>
        <div class="recipe-info">
          <div class="title">
            <%= link_to recipe.title, recipe_path(recipe) %>
          </div>
          <div class="description">
            <%= recipe.description %>
          </div>
          <div class="details">
            <%= "#{recipe.user.name}  /  調理時間 #{recipe.cooking_time.to_s} 分" %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>