

<div class="recipe-index">
  <h2>検索結果</h2>
  <div class="row row-cols-1 row-cols-md-3 recipe-table">
    <% if @recipes.exists? %>
      <%= render 'recipes/access_ranking', recipes: @recipes %>
    <% else %>
      <p class="not-exist">該当するレシピが見つかりませんでした。</p>
    <% end %>
  </div>
</div>

