<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a href="#">カテゴリー</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= recipe.category.name %></li>
  </ol>
</nav>